* {
  margin: 20px 30px;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 30px;
  text-align: center;
  background-image: linear-gradient(
      rgba(39, 36, 36, 0.7),
      rgba(29, 27, 27, 0.7)
    ),
    url("images/Banner\ Image.png");
  background-size: contain;
  border-radius: 15px;
  height: 600px;
}
